.block{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    background: rgba(0, 0, 0, 0.623);
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    margin-top: -350px;
}

.block img{
    width: 250px;
    height: 250px;
    border-radius: 250px;
}

.block h1{
    font-size: 45px;
    padding-top: 40px;
    font-weight: 200;
}
.block h2{
    font-size: 20px;
    padding: 20px;
    color: rgba(255, 255, 255, 0.479);
    font-weight: 200;
}
.block p{
    color: rgba(255, 255, 255, 0.479);
    font-weight: 200;
    padding-bottom: 30px;
    font-size: 15px;
    text-align: justify;
}
.logos{
    padding-bottom: 20px;
    display: flex;
    gap: 15px;
}